*{
    box-sizing: border-box;
}
.box1
{
    padding:20px;
    margin:20px;
    border: 1px solid pink;
}
.box2{
    padding:20px;
    margin:20px;
    border: 1px solid pink;
}
.box1 h1,.box2 h1{
    text-align: center;
}
