body {
  font-family: "Times New Roman", Times, serif;
  /* margin: 0px; */
}

#product-overview {
  background: #ff1b68;
  width: 50%;
}

h1 {
  color: white;
  font-family: "Roboto Mono", monospace;
}

.section-title {
  color: #2ddf5c;
  font-family: inherit;
}

/* Classes have higher property over normal attributes 
    Multiple Rules can be applied to the selector
    Order of Specificity
    Inline Styles
    Id Selectors
    Classes
    tags
*/
#product-overview h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.main-header {
  width: 100%;
  background: #2ddf5c;
  padding: 8px 16px;
}