*{
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview {
    background: #ff1b68;
}

.section-title {
    color: #2ddf5c;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
    margin-top:0px
}

/* h1 {
    font-family: sans-serif;
} */
.main-header{
    width:100%;
    background: #2ddf5c;
    padding: 8px 16px;
    margin-bottom: 0;
}
.main-header > div {
    display: inline-block;
}
.main_nav_item{
    display: inline-block;
}
.main_nav_items{
    display: inline-block;
    list-style: none;
    margin:0;
    padding:0;

}
.main-nav{
    display: inline-block;
    text-align: right;
    /* width: 100%; */
    width: calc(100% - 56px)
 
}