* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

#product-overview {
  background: url("freedom.jpg");
  width: 100%;
  height: 528px;
  padding: 10px;
}

.plan {
  background: #d5ffdc;
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.plan__highlighted {
  background: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

.plan__annotation {
  background: white;
  color: #19b84c;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  padding: 5px;
  /* border-radius:4px 4px 4px; */
  border-radius: 4px;
}

.plan__highlighted .plan__title {
  color: white;
}

.plan__highlighted .plan__price {
  color: #0e4f1f;
}

.plan__ulist {
  list-style: none;
}

.plan__ulist li {
  margin: 5px;
}

.button {
  color: white;
  background: #0e4f1f;
  font: inherit;
  border: 1.5px solid #0e4f1f;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: white;
  color: #0e4f1f;
}

.button:focus {
  outline: none;
}

#key-features {
  background: #ff1b68;
}

#key-features .section-title {
  color: white;
}

.customer-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.feature_element {
  display: inline-block;
  width: 30%;
}

.feature-para {
  font-weight: bold;
  font-size: 20px;
  vertical-align: top;
  color: white;
}

.key_feature__element {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 1px solid #424242;
  margin: auto;
  background: white;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
}

/* h1 {
    font-family: sans-serif;
} */